@import url('https://fonts.googleapis.com/css?family=Material+Icons');body{background:#f8f8f8 url(/.s/t/1707/pattern.png);margin:0;padding:0;font-size:13px;font-family:Tahoma,Geneva,sans-serif;color:#6c6c6c;min-height:100vh;display:flex;flex-direction:column}
footer{flex:0 0 auto}
#casing{flex:1 0 auto}
*{box-sizing:border-box}
table{font-size:100%}
img,form{border:0;margin:0}
object,embed,iframe{max-width:100%}
a,input{outline:0}
.myWinCont img {max-width:initial;}
.myWinCont input.commFl{width: auto;}
a{color:#5fae26;font-size:13px;text-decoration:none}
a:hover{text-decoration:underline}
h1,h2,h3,h4,h5,h6{font-weight:normal;margin:5px 0;padding:0}
h1,h1 a{font-size:26px}
h2,h2 a{font-size:21px}
h3,h3 a{font-size:19px}
h4,h4 a{font-size:17px}
h5,h5 a{font-size:15px}
h6,h6 a{font-size:13px}
ul{list-style:square}
hr{clear:both;border:0;padding:10px 0 0;margin:0 0 10px}
input[type="checkbox"]{vertical-align:middle}
.clr{clear:both}
#header{background:#fff;padding:15px 0;border-bottom:10px solid #1a1b1d}
#site-logo{float:left;max-width:40%}
.site-n,.site-n a{display:inline-block;font-size:30px;color:#1a1b1d;font-weight:bold;transition:all .3s}
.site-n a:hover{text-decoration:none;color:#5fae26}
#catmenu{float:right;text-align:right;padding:9px 0 0}
#catmenu .nav-head{display:none}
#catmenu ul,#catmenu li{margin:0;padding:0;list-style:none}
#catmenu li{display:inline-block;padding:0 0 5px 20px}
#catmenu li.item-parent{position:relative;padding-right:10px}
#catmenu li a{position:relative;display:inline-block;font-size:14px;padding:0;color:#6c6c6c}
#catmenu li>a:hover,#catmenu li>a.current-item{text-decoration:none;color:#5fae26}
#catmenu ul ul{display:none;padding:7px 10px;background:#1a1b1d;position:absolute;width:180px;top:25px;left:0;z-index:200;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
#catmenu li li{float:none;padding:0;display:block;text-align:left;height:auto;border:0}
#catmenu li li a{display:block;float:none;height:auto;background:0;border:0;text-transform:none;line-height:normal;padding:5px;font-size:11px;color:#5fae26}
#catmenu li li>a.current-item,#catmenu li li>a:hover{height:auto;color:#fff;border:0;line-height:normal}
#catmenu li li.item-parent>a:after{content:"\203a";font-size:14px;font-family:Tahoma,Geneva,sans-serif;display:block;width:5px;position:absolute;height:5px;top:2px;left:auto;right:5px}
#catmenu ul ul ul{left:176px;top:1px;z-index:220}
#catmenu li li:first-child{position:relative}
#catmenu li li:first-child:before{content:"";position:absolute;left:20px;top:-12px;border-bottom:5px solid #1a1b1d;border-left:5px solid transparent;border-right:5px solid transparent}
#catmenu li li li:first-child:before{left:-20px;top:-2px;border-bottom:5px solid transparent;border-right:5px solid #1a1b1d;border-top:5px solid transparent}
#promo{background:#1a1b1d;margin-top:-10px}
.promo-i{height:500px;line-height:500px;background:url(jmg1.jpg) 0 0 no-repeat;background-size:cover; }
.promo-cap{display:inline-block;width:100%;padding:25px 0;line-height:normal;vertical-align:middle;background:#fff;background:rgba(0,0,0,.8);text-align:center;color:#fff}
.promo-ttl{font-size:32px;font-weight:bold;text-transform:uppercase;padding:0 20px 5px}
.promo-ds{font-size:22px;padding:0 20px 15px}
.promo-sds{font-size:15px;padding:0 20px;font-style:italic}
#casing{padding:40px 0}
#content{float:left;width:70%}
#content fieldset{background:#fff;border:1px solid #e6e6e6;padding:20px;margin:10px 0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#content fieldset legend{background:#fff;border-top:1px solid #e6e6e6;padding:5px 10px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#content .calTable{margin:0 0 20px}
#content .calTable td{padding:12px}

.eBlock {
 margin: 0 0 30px;
 padding: 20px;
 border-spacing: 0;
 background: #fff;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 -moz-box-shadow: 0 0 3px 0 #ddd;
 -webkit-box-shadow: 0 0 3px 0 #ddd;
 box-shadow: 0 0 3px 0 #ddd
}

.goods-list .list-item {
 border-spacing: 0;
 background: #fff;
 border-radius: 16px;
}

.product-card .product-tail { background-color:#ffffff; }
.eBlock+br{display:none}
.eBlock+table{margin:0;padding:20px;border-spacing:0;background:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 3px 0 #ddd;-webkit-box-shadow:0 0 3px 0 #ddd;box-shadow:0 0 3px 0 #ddd}
.eBlock+table td[width="60%"]{font-size:18px;padding:0 0 20px;color:#1a1b1d}
.eBlock td{padding:5px 0 !important}
.eTitle,.eBlock .eTitle,.eBlock td.eTitle{padding:0 0 20px !important;font-size:24px;color:#1a1b1d}
.module-tests .eTitle{border-bottom:0;margin-bottom:0 !important}
.module-tests .eMessage{padding-bottom:20px !important;border-bottom:1px solid #ddd}
.module-tests #testBlockD .eMessage{border-bottom:0}
.eTitle a{color:#1a1b1d;padding:0 0 20px !important;margin:0 0 20px !important;font-size:24px;transition:all .3s}
.eTitle a:hover{color:#5fae26;text-decoration:none}
.eDetails,.eDetails1,.eDetails2,.eBlock td.eDetails,.eBlock td.eDetails1,.eBlock td.eDetails2{clear:both;font-size:12px;padding:20px 0 !important;border-top:1px solid #ddd}
.ed-value{color:#5fae26}
.e-reads,.e-loads,.e-author,.e-date,.e-rating,.e-add,.e-tags{padding:0 10px 0 0}
.e-reads:after,.e-loads:after,.e-author:after,.e-date:after,.e-rating:after,.e-add:after,.e-tags:after{content:'\002F';padding:0 0 0 10px}
.e-category+span+span:before{content:'\002F';padding:0 10px}
.ed-sep{display:none}
.sidebox .answer{padding:5px 0 0 0;font-size:13px}
.eMessage img,.eText img,.module-video img{max-width:100%}
#message.wysibb-texarea{border-color:transparent !important}
.pollQue,.pollAns,.pollLnk a,.pollTot{font-size:13px !important}
.eBlock td.eMessage,.eBlock td.eText,.eMessage,.eText{word-break:break-word;line-height:150%}
.eMessage img,.eText img{display:block;max-width:100%;margin:10px 0 !important;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.eMessage p,.eText p{margin:0;padding:0 0 5px 0}
.entryReadAll{display:none}
.catPages1,.plist,.pagesBlockuz2{display:block;padding:10px 0 0}
.pagesBlockuz1 b,.pagesBlockuz2 b,#pagesBlock1 b,#pagesBlock2 b,.plist b,.pagesBlockuz b,.pagesBottom b,.pagesBlockuz1 a:hover,.pagesBlockuz2 a:hover,#pagesBlock1 a:hover,#pagesBlock2 a:hover,.plist a:hover,.pagesBlockuz a:hover,.pagesBottom a:hover{display:inline-block;min-width:7px;padding:5px 8px;font-weight:normal;color:#fff;background:#5fae26;font-size:12px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;transition:all .3s}
.pagesBlockuz1 a,.pagesBlockuz2 a,#pagesBlock1 a,#pagesBlock2 a,.plist a,.pagesBlockuz a,.pagesBottom a{display:inline-block;min-width:7px;padding:5px 8px;text-decoration:none;font-size:12px;color:#1a1b1d}
.pagesBlockuz1 a:hover,.pagesBlockuz2 a:hover,#pagesBlock1 a:hover,#pagesBlock2 a:hover,.plist a:hover{text-decoration:none}
.cBlock1,.cBlock2{background:#fff;padding:5px !important;margin:0 !important;border-bottom:1px solid #e6e6e6}
#content .cBlock1,#content .cBlock2{padding:0 0 10px !important;background:0;margin:5px 0 0 !important;color:#6c6c6c}
.commTable{margin:40px 0 0;padding:20px;border-spacing:0;background:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 3px 0 #ddd;-webkit-box-shadow:0 0 3px 0 #ddd;box-shadow:0 0 3px 0 #ddd}
.cMessage{font-size:13px;line-height:130%}
.cTop{padding:0 0 15px 0;font-size:12px;color:#5fae26}
.cTop *{font-weight:normal}
.cAnswer{padding:0 0 0 20px;margin:10px 0 0 45px;border-left:3px solid #5fae26;font-size:13px;color:#1a1b1d}
.commTd1{padding:5px 2px;width:140px}
input.commFl{width:100%}
textarea.commFl{width:100%}
.eAttach{margin:10px 0;color:#666;padding:0 0 0 15px;background:url(/.s/t/1707/attach.gif) 0 36% no-repeat}
.eRating{font-size:8pt}
.manTdError,.commError{color:red}
.commReg{padding:10px 0;text-align:center}
a.groupModer:link,a.groupModer:visited,a.groupModer:hover{color:blue}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover{color:red}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover{color:green}
.replaceTable{font-size:12px;padding:20px;border:1px solid #e6e6e6;background:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.legendTd{font-size:8pt}
.outputPM{border:1px dashed #ddd;margin:4px 0 4px 30px}
.inputPM{border:1px dashed #447e18;margin:4px 0}
.module-dir .catsTd,.module-board .catsTd,.module-faq .fastLink{padding:3px 0}
#content form[action$="search/"] table td{white-space:normal !important}
.popupbody div[align="center"],.module-index div[align="center"]{overflow:auto}
.popupbody .uPM,.myWinSuccess{padding:0 20px 0 0}
.popupbody hr{border-bottom:0}
.uTable{margin:10px 0;padding:20px;border-spacing:0;background:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 3px 0 #ddd;-webkit-box-shadow:0 0 3px 0 #ddd;box-shadow:0 0 3px 0 #ddd}
.uTable td{padding:10px 20px;border-bottom:1px solid #e6e6e6;white-space:nowrap}
.uTable td.uTopTd{font-size:14px;padding-top:0;font-weight:normal !important}
.eAttach .entryAttachSize{padding-left:4px}
.manTable,#uNetRegF{text-align:left}
.manTable .manTd1{line-height:14px}
#casing.popuptable{margin:0 auto;padding:20px;border-spacing:0;background:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 3px 0 #ddd;-webkit-box-shadow:0 0 3px 0 #ddd;box-shadow:0 0 3px 0 #ddd;color:#6c6c6c}
.popuptitle{font-size:20px;padding:0 0 20px;color:#1a1b1d;border-bottom:1px solid #ddd}
.popupbody{padding:20px;font-size:12px;color:#6c6c6c;padding:20px 0 0}
.popupbody *{font-size:12px !important}
.popuptable table{text-align:left;color:#6c6c6c}
.archiveEntryTitle ul{margin:2px 0;list-style:circle}
.archiveEntryTitle .archiveEntryTime{display:inline-block;padding:3px 5px;font-size:11px;color:#fff;background:#5fae26}
.archiveEntryTitle .archiveEntryTitleLink{font-size:14px;text-decoration:none}
.archiveEntryTitle .archiveEntryTitleLink:hover{text-decoration:underline}
.archiveEntryTitle .archiveEntryComms{font-size:11px;color:#1a1b1d}
.user_avatar img{width:100px;border:1px solid #e6e6e6 !important;padding:2px !important}
.cMessage .user_avatar img{width:50px;margin:0 10px 5px 0}
#sidebar{float:right;width:25%}
.sidebox{margin:0 0 40px;padding:0}
.sidetitle{font-size:22px;padding:0 0 25px;color:#1a1b1d}
.sidebox ul,.sidebox .catsTable{margin:0;padding:0;list-style:none}
.sidebox .catsTable,.sidebox .catsTable *{width:auto !important}
.sidebox li,.sidebox .catsTable td{list-style:none;padding:0}
.sidebox li a,.sidebox .catsTable a{display:inline-block;color:#6c6c6c;padding:5px 0;text-decoration:none;position:relative}
.sidebox li a:before,.sidebox .catsTable a:before{content:"\2022";font-size:12px;font-family:Tahoma,Geneva,sans-serif;padding:0 5px 0 0}
.sidebox li a:hover,.sidebox li a.current-item,.sidebox .catsTable a:hover,.sidebox .catsTable a.catNameActive{color:#5fae26}
.sidebox li.item-parent{position:relative}
.sidebox li.item-parent>a{padding-right:2px}
.sidebox li.item-parent em{position:absolute;top:4px;right:0;width:24px;height:24px;line-height:24px;font-style:normal;font-size:14px;text-align:center;z-index:10;cursor:pointer}
.sidebox li.item-parent em:hover{color:#5fae26}
.sidebox .calTable{width:100%;position:relative}
.calTable{font-size:12px}
.calTable td{text-align:center;padding:6px 2px}
.calTable td.calMonth{padding:12px !important;font-size:14px}
.calWday,.calWdaySe,.calWdaySu{font-size:14px;color:#1a1b1d;text-transform:uppercase}
.calWdaySe,.calWdaySu{color:#5fae26}
.calTable .calMday{color:#b2b2b2}
.calTable .calMdayIs{font-weight:bold}
.calTable .calMdayA,.calTable .calMdayIsA{color:#fff;background:#1a1b1d;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.calTable .calMdayIsA a{color:#fff}
.sidebox td.calMonth{position:relative;height:40px;padding:0 !important}
.sidebox td.calMonth a{position:absolute}
.sidebox td.calMonth a:hover{color:#1a1b1d;text-decoration:none}
.sidebox td.calMonth a:first-child,.sidebox td.calMonth>a:first-child+a+a{display:block;text-align:center;width:15px;height:20px;line-height:20px;top:9px;right:10px;font-size:15px}
.sidebox td.calMonth a:first-child{right:30px}
.sidebox td.calMonth a:first-child+a{font-size:14px;left:10px;top:0;display:inline-block;height:40px;line-height:40px}
.sidebox ul ul{display:none;margin:0 0 0 20px;width:auto;padding:0}
.sidebox iframe{border:1px solid #e6e6e6}
.sidebox .answer{padding:5px 0 0 0}
.schQuery,.schBtn{display:inline;padding:0 2px}
.sidebox ul.rate-list{margin:0}
#shop-basket ul li a{padding:0;margin:0;border:0}
#shop-basket ul li a:before{display:none}
.pollButton{padding:10px 0 0}
.sidebox .searchForm{background:#fff;border:1px solid #e6e6e6;padding:0 34px 0 10px;position:relative;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.sidebox .searchForm *{padding:0;margin:0;line-height:normal}
.sidebox .schQuery input{background:none !important;border:none !important;width:98% !important;padding:0 !important;margin:0 !important;height:30px !important;line-height:30px !important;font-size:12px;color:#6c6c6c}
.sidebox .schBtn input{position:absolute;top:3px;right:0;border:none !important;padding:0 !important;margin:0 !important;text-align:left;height:24px !important;width:34px !important;overflow:hidden;text-indent:-10000px;cursor:pointer;background:#fff url(/.s/t/1707/sch.png) 50% 50% no-repeat !important;border-left:1px solid #ddd !important;-moz-opacity:.6;opacity:.6;filter:alpha(opacity=60)}
.sidebox .schBtn input:hover{-moz-opacity:1;opacity:1;filter:alpha(opacity=100)}
#footer{padding:25px 0;background:#1a1b1d}
.foot-l{float:left;width:60%}
.foot-r{float:right;width:40%;text-align:right}
#soc-box span{display:inline-block;border-right:1px solid #78797a;padding:0 7px 0 5px;height:16px;line-height:16px}
#soc-box span:first-child{border-left:1px solid #78797a;padding:0 7px}
#soc-box a{display:inline-block;width:16px;height:16px;background:url(/.s/t/1707/soc.png)}
#soc-box a.soc-tw{background-position:0 0}
#soc-box a.soc-tw:hover{background-position:-16px 0}
#soc-box a.soc-fc{background-position:0 -16px}
#soc-box a.soc-fc:hover{background-position:-16px -16px}
#soc-box a.soc-vi{background-position:0 -32px}
#soc-box a.soc-vi:hover{background-position:-16px -32px}
#soc-box a.soc-vk{background-position:0 -48px}
#soc-box a.soc-vk:hover{background-position:-16px -48px}
.forum-box{clear:both}
.gTable{margin:10px 0;padding:20px;border-spacing:0;background:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 3px 0 #ddd;-webkit-box-shadow:0 0 3px 0 #ddd;box-shadow:0 0 3px 0 #ddd}
.gTableTop{font-size:22px;color:#1a1b1d;padding:0 0 20px;border-bottom:1px solid #ddd}
.gTableTop a.catLink{font-size:22px}
.gTableTop a:hover{color:#1a1b1d !important;text-decoration:none !important}
.gTableSubTop,.postTdTop{padding:10px 0;font-size:12px;border-bottom:1px solid #ddd}
.gTableBody,.gTableBody1,.gTableBottom,.gTableError,.forumNameTd,.forumLastPostTd,.threadNametd,.threadAuthTd,.threadLastPostTd,.threadsType,.postPoll,.newThreadBlock,.newPollBlock,.newThreadBlock,.newPollBlock,.gTableRight,.postTdInfo,.codeMessage,.quoteMessage,.forumIcoTd,.forumThreadTd,.forumPostTd,.gTableLeft,.threadIcoTd,.threadPostTd,.threadViewTd,.postBottom,.posttdMessage{padding:10px 20px;border-bottom:1px solid #ddd}
.gTableSubTop,.postTdTop,.forumNameTd,.forumThreadTd,.forumPostTd,.forumLastPostTd,.threadNametd,.threadPostTd,.threadViewTd,.threadAuthTd,.threadLastPostTd{position:relative}
.gTableSubTop:before,.postTdTop:before,.forumNameTd:before,.forumThreadTd:before,.forumPostTd:before,.forumLastPostTd:before,.threadNametd:before,.threadPostTd:before,.threadViewTd:before,.threadAuthTd:before,.threadLastPostTd:before{content:"";position:absolute;width:1px;height:60%;top:20%;left:0}
.gTableSubTop:first-child:before,.postTdTop:first-child:before{display:none}
.postBottom{padding:3px 0}
.posttdMessage{padding:10px 0 12px}
a.forum,a.threadLink,a.threadPinnedLink{margin:0 0 5px;display:inline-block;font-size:15px}
a.forumLastPostLink{color:#888 !important}
.gTableLeft{font-weight:bold}
.gTableError{color:red}
a.catLink{text-decoration:none}
a.catLink:hover{text-decoration:underline}
.lastPostGuest,.lastPostUser,.threadAuthor{font-weight:bold}
.archivedForum{color:#f00 !important;font-weight:bold}
div.forumModer{color:#999}
.forumModer a{color:#999;text-decoration:underline}
.forumModer a:hover{text-decoration:none}
.threadFrmLink{color:#999}
.forumBarKw{font-weight:normal}
a.forumBarA{text-decoration:none}
a.forumBarA:hover{text-decoration:none}
.switch,.pagesInfo{padding:5px 7px;background:#1a1b1d;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.switchActive{padding:5px 8px;font-size:11px;background:#5fae26;color:#fff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
a.switchDigit,a.switchBack,a.switchNext{text-decoration:none}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover{text-decoration:underline}
.threadDescr{color:#999}
.threadNoticeLink{font-weight:bold}
.threadsType{height:20px;font-weight:bold}
.threadsDetails{height:20px;font-size:12px;padding:7px 10px}
.forumOnlineBar{height:20px;color:#999;padding:0 10px}
a.threadPinnedLink{color:#f63333 !important}
.postpSwithces{display:block}
.thDescr{font-weight:normal}
.forumNamesBar{padding:3px 0}
.forumModerBlock{padding:3px 0}
.postPoll{text-align:center;padding:20px 0 !important}
.postPoll .pollButtons{padding:10px 0 0}
.postUser{font-weight:bold}
.postRankName{margin-top:5px}
.postRankIco{margin-bottom:5px}
.reputation{margin-top:5px}
.signatureHr{margin-top:20px}
.postTdInfo{text-align:center}
.posttdMessage{line-height:18px}
.pollQuestion{text-align:center;font-weight:bold}
.pollButtons,.pollTotal{text-align:center}
.pollSubmitBut,.pollreSultsBut{width:140px;font-size:8pt}
.pollSubmit{font-weight:bold}
.pollEnd{text-align:center;height:30px}
.codeMessage,.quoteMessage,.uSpoilerText{font-size:11px;padding:10px;background:#f5f5f5;border:1px solid #ddd !important;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.signatureView{display:block;font-size:8pt;line-height:14px;padding:0 0 0 10px;border-left:3px solid #5fae26}
.edited{padding-top:30px;font-size:8pt;text-align:right;color:gray}
.editedBy{font-weight:bold;font-size:8pt}
.statusBlock{padding-top:3px}
.statusOnline{color:#5fae26}
.statusOffline{color:red}
.newThreadItem{padding:0 0 8px;background:url(/.s/t/1707/12.gif) no-repeat 0 4px}
.newPollItem{padding:0 0 8px;background:url(/.s/t/1707/12.gif) no-repeat 0 4px}
.pollHelp{font-weight:normal;font-size:8pt;padding-top:3px}
.smilesPart{padding-top:5px;text-align:center}
.pollButtons button{margin:0 10px 0 0 !important}
.postBottom .goOnTop{display:none !important}
.postIpLink{text-decoration:none}
.thread_subscribe{text-decoration:none}
.thread_subscribe:hover{text-decoration:underline}
.postip,.postip a{font-size:11px;color:#999}
.UhideBlockL{background:#f5f5f5;border:1px solid #ddd !important;color:#888;padding:10px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
.UhideBlockL a{color:#888}
.pollreSultsBut{width:180px;text-align:center}
#casing input[type='text'],#casing input[type='password'],#casing textarea,#casing input[type='file'],#casing select{margin:0 0 1px;padding:6px 4px;text-align:left;background:#fff;border:1px solid #e6e6e6;color:#6c6c6c;vertical-align:middle;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
#casing select:not([multiple]){max-height:29px;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#fff url(/.s/t/1707/arrow-down.png);background-repeat:no-repeat;background-position:calc(100% - 8px) 50%}
select::-ms-expand{display:none}
#casing select:focus{outline:0}
#casing select{padding-left:10px;padding-right:30px;max-width:300px;cursor:pointer;margin:3px 2px 3px 0}
#casing textarea{height:auto;line-height:normal;padding:6px 4px;resize:none}
#casing input[type='submit'],#casing input[type='reset'],#casing input[type='button'],#casing button{width:auto !important;cursor:pointer;margin:0 0 1px 1px;padding:8px 15px;font-weight:normal !important;background:#1a1b1d;font-size:11px;color:#fff;border:0;text-transform:uppercase;vertical-align:middle;-webkit-appearance:none;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;transition:all .3s}
#casing input[type='submit']:hover,#casing input[type='reset']:hover,#casing input[type='button']:hover,#casing button:hover{background:#5fae26}
#casing .sidebox .schBtn input{width:34px !important}
#casing .allUsersBtn,#casing .uSearchFlSbm,#iplus input{padding-left:7px !important;padding-right:7px !important;font-size:10px !important}
#casing input[type="file"]{background:0;border:0}
#doSmbBt,.u-combobut{display:none}
#casing .u-comboeditcell,#casing .u-combo{border:0 !important;background:none !important}
#casing .u-combolist,#content .xw-mc,#content .filterBlock{padding:5px 3px;font-size:12px !important;color:#6c6c6c !important;background:#fff;border:1px solid #e6e6e6;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}
#content .xw-tl,#content .xw-bl,#content .u-menuvsep{display:none}
#content .xw-ml,#content .xw-mr{margin:0;padding:0;background:0}
#uNetRegF table{text-align:left}
#uNetRegF table table{clear:both}
#uNetRegF table table td{padding:5px 0 0 0}
.sidebox .gTable{background:0;border:0;padding:0;margin:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}
.sidebox .gTableTop,.sidebox .gTableSubTop,.sidebox .forumNameTd{border:0;background:0;color:#a9a397;font-weight:normal;text-transform:none;height:auto;line-height:normal;overflow:visible;padding:0;font-size:13px !important;text-transform:none;text-shadow:none;font-family:Tahoma,Geneva,sans-serif;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}
.sidebox .gTableTop:before,.sidebox .gTableSubTop:before,.sidebox .forumNameTd:before{width:auto;background:0;position:static}
.sidebox .gTable ul{padding:0 0 0 20px;margin:0;width:auto}
.sidebox .gTable ul li a{background:0;border:0;padding:5px 0}
.sidebox .forumDescr{padding:0 2px}
.sidebox .gTableTop,.sidebox .gTableSubTop{display:block;color:#6c6c6c;margin:0 0 1px;padding:5px 0 !important;text-decoration:none;border:0}
.sidebox .gTableTop:hover,.sidebox .gTableSubTop:hover,.sidebox .gTable ul li a:hover{color:#5fae26;padding:5px 0 !important}
.sidebox .gTableTop:before,.sidebox .gTableSubTop:before{content:"\2022";font-size:12px;font-family:Tahoma,Geneva,sans-serif;padding:0 5px 0 0}
.manTable td input#id_file_add{max-width:none}
input[id$="basket"]{text-align:center !important}
#thread_search_field{max-width:65%;margin:0 0 2px !important}
#catmenu.nav-mobi{width:auto;height:auto;max-width:none;margin:0 auto;float:none;background:#1a1b1d;padding:0;border:0;text-align:left;max-width:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}
#catmenu.nav-mobi .nav-head{display:none;cursor:pointer;text-transform:uppercase;font-size:20px;text-align:left;margin:0 auto;padding:20px;background:#1a1b1d;color:#fff;min-height:54px}
.nav-head a{color:#fff;text-decoration:none}
.nav-head div.icon{float:right;width:40px;margin:2px 0 0}
.nav-head div.icon span{display:block;background:#fff;height:4px;margin:0 0 2px}
.nav-head:hover a,.nav-head.active a,.nav-head.over a{color:#fff}
.nav-head:hover div.icon span,.nav-head.active div.icon span,.nav-head.over div.icon span{background:#fff}
#catmenu.nav-mobi li a:before,#catmenu.nav-mobi li a:after,#catmenu.nav-mobi li a.current-item:hover:before,#catmenu.nav-mobi li a.current-item:hover:after{display:none !important}
#catmenu.nav-mobi li a.current-item{background:#1a1b1d}
#catmenu.nav-mobi li li:before{display:none}
#catmenu.nav-mobi ul{display:none;padding:0;position:relative;border:0;float:none;margin:0;width:auto;height:auto;overflow:visible;background:0;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}
#catmenu.nav-mobi ul ul{background:#fff;padding:0;top:0;left:0;z-index:999;width:auto;margin:0 !important}
#catmenu.nav-mobi ul ul ul{margin:0 !important;border:0}
#catmenu.nav-mobi ul li{text-align:left;height:auto;float:none;position:relative;display:block;padding:0;border:none !important}
#catmenu.nav-mobi ul li.item-parent{position:relative !important}
#catmenu.nav-mobi ul li li{padding:0}
#catmenu.nav-mobi ul li.over{z-index:998}
#catmenu.nav-mobi ul li a{font-size:13px;display:block;border:0;color:#fff;height:auto;width:auto !important;line-height:normal;text-decoration:none;float:none;padding:0 !important;background:#5fae26;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}
#catmenu.nav-mobi ul li:not(:first-child) a{border-top:1px solid rgba(0,0,0,.4)}
#catmenu.nav-mobi ul li.over>a{background:#1a1b1d;color:#fff}
#catmenu.nav-mobi ul li.over>em{color:#fff}
#catmenu.nav-mobi li.item-parent a{background-image:none !important}
#catmenu.nav-mobi ul li li a{color:#fff;background:#5fae26}
#catmenu.nav-mobi ul li li li a{background:#5fae26}
#catmenu.nav-mobi ul li a:hover{text-decoration:none}
#catmenu.nav-mobi ul li a span{text-align:left;display:block;cursor:pointer;padding:12px 20px}
#catmenu.nav-mobi ul li ul a span{white-space:normal}
#catmenu.nav-mobi ul li i{position:absolute;display:block;border-left:1px solid #1a1b1d;color:#fff;top:1px;right:0;width:40px;line-height:40px;height:40px;text-align:center;font-style:normal;font-size:13px;font-weight:bold}
#catmenu.nav-mobi ul li i:hover,#catmenu.nav-mobi ul>li>a:hover{cursor:pointer;color:#fff !important;background:#1a1b1d !important}
#catmenu.nav-mobi ul>li>a:hover>span,#catmenu.nav-mobi ul>li.over>a>span,#catmenu.nav-mobi ul>li.active>a>span{border:0}
form[name="mform"] table td:first-child:not([align="center"]){text-align:right;font-size:13px;padding-top:3px;padding-right:8px}
#casing input[type='button'].u-comboedit{background:url(/.s/t/1707/arrow-down-white.png) no-repeat #1a1b1d;background-position:96% 50%}
td.u-comboeditcell input[id^="catSelector"].x-selectable,#addPhtFrm #uCatsMenu7{max-width:360px}
[id^="catSelector"]{padding-right:40px !important;margin-bottom:0 !important}
#casing #mchatBtn{padding-left:12px !important;padding-right:12px !important;font-size:11px !important}
#casing .forum-box .gTableBody1 select[name="o1"],#casing .forum-box .gTableBody1 select[name="o2"],#casing .forum-box .gTableBody1 select[name="o3"],#casing .forum-box input[name="user"]{min-width:200px}
#casing .forum-box .gTableBody1 select[name="o1"],#casing .forum-box .gTableBody1 select[name="o3"]{margin-left:2px;margin:3px 2px 3px 0}
.module-video .size2-parent{padding-right:0}
.module-video #f_aname{width:100%}
#MCaddFrm table{border-spacing:0}
.cMessage{word-wrap:break-word;word-break:break-all}
.mcReloadBtn img,.mcSmilesBtn img,.mcBBcodesBtn img,.mcManageBtn img{display:none}
.mcReloadBtn:before,.mcSmilesBtn:before,.mcBBcodesBtn:before,.mcManageBtn:before{color:#5fae26;font-family:"Material Icons";font-size:20px;font-weight:400;display:inline-block;transition:all .3s;font-feature-settings:'liga' 1;-webkit-font-feature-settings:liga;font-feature-settings:liga;ms-font-feature-settings:liga}
.mcReloadBtn::before{content:'\E5D5'}
.mcSmilesBtn::before{content:'\E420'}
.mcBBcodesBtn::before{content:'\E86F'}
.mcManageBtn::before{content:'\E254'}
.mcReloadBtn:hover:before,.mcSmilesBtn:hover:before,.mcBBcodesBtn:hover:before,.mcManageBtn:hover:before{color:#1a1b1d}
.wrapper,.promo-wrapper{width:1180px;margin:0 auto}
.module-shop .shop-tabs li.postRest1{border-bottom:1px solid #f8f8f8}
.sidebox ul.ut-vmenu{padding-left:15px}
.module-shop b.shop-itempage-price{display:block;font-size:24px;padding:5px 0 10px}
.module-shop table.catalog h3{margin:10px 0 0 60px}
.module-shop .goods-list td[width='150']+td,.module-shop td.shop-itempage-images+td{padding:0 0 0 20px}
.module-shop a.shop-item-title{font-size:24px;transition:all .3s;font-weight:300}
.module-shop .goods-list td[width='150']+td,.module-shop td.shop-itempage-images+td{padding:0 0 0 20px}
.shop-spec-filter-wrapper{overflow:hidden}
div#imblock1 div:first-child .postRankName,.reputation,.goods-list.shop-itempage-buy-btns>*,input#addcBut{margin-top:5px}
div#shop-basket ul li{padding-left:40px;background-size:30px !important;background-position:0 50% !important;margin-bottom:10px}
#shop-basket{text-align:center}
#content.wide-page{float:none;width:auto}
#cont-shop-invoices{margin:10px 0}
.fil_togg_holder{background:#1a1b1d;color:#fff;display:inline-block;padding:2px 2px 2px 8px;border-radius:3px;cursor:pointer;transition:all .3s}
.fil_togg_holder:hover{background:#5fae26}
#content input#invoice-form-export,#content input#invoice-form-print,#content input#invoice-form-send-el-goods{font-family:"Material Icons";font-size:20px;padding:4px 12px;vertical-align:middle;text-transform:none;margin-right:7px;width:48px;overflow:hidden;font-weight:400}
.fil_togg_wrapper+hr+table td{display:inline-block;width:50% !important;text-align:left !important}
table.filter_table td,table.status_table td{padding:0 4px}
#cont-shop-invoices h1{margin:15px 0}
#casing table.status_table td select:first-child{margin-top:15px;margin-bottom:15px}
#casing table.status_table td input:first-child,#casing table.status_table td select:first-child,#casing table.filter_table td input:first-child,#casing table.filter_table td select:first-child{margin-left:0 !important}
.fil_togg_wrapper+hr+table td:nth-child(even){text-align:right !important}
div#cont-shop-invoices .status_table select,div#cont-shop-invoices>div:first-child form,table.filter_table td input:not(:first-child),table.filter_table td select:not(:first-child){margin-left:4px !important}
#invoice-table{margin-bottom:40px}
div#cont-shop-invoices .fil_togg_wrapper{margin-left:4px}
select#user-filter{float:right}
ul[id^="uStarRating"]{max-width:100%;overflow:hidden}
#content .queryField{width:70% !important}
#content form[action$="search/"] table{width:100%}
#forum_filter{padding:5px 0 15px}
div[class^="cBlock"] a{word-break:break-all}
.gTable:not(#invoice-table):not(#shop-price-list) .gTableSubTop{font-weight:600}
#thread_search_field{width:calc(100% - 55px) !important;max-width:223px !important;margin:0 4px 7px !important}
.forumModerFuncsT{padding-top:5px}
div#cont-shop-invoices>.filter_table{display:none}
#casing .module-shop table.filter_table .pageinvoices input,#casing .module-shop table.filter_table .pageinvoices select{margin:5px 0}
form#shop-price-form{overflow-x:auto;padding-bottom:30px;padding-top:20px}
.iPhotoPrev .ulightbox>img{height:85px;width:auto}
#casing form#addEntForm span[id*="iCode"].added{padding-bottom:10px;overflow:hidden}
.module-video .btn-title{white-space:normal}
.pagesBlockuz,.pagesBlockuz1{display:inline-block;padding:10px 0}
.module-photo .ph-details{margin:10px 0 5px}
.wysibb *,form#uf-register *:not(.uf-radio):not(.uf-checkbox):not(.captcha-answer),a.login-with i,ul.shop-tabs.with-clear li,ul.shop-tabs.with-clear{box-sizing:content-box}
form#uf-register input[id="policy"]{box-sizing:border-box}
.opt_vals .gTableSubTop{padding-left:0;background:0;height:48px}
#goods-options-list .gTableSubTop{border-bottom:0}
.module-shop #goods-options-list label{word-break:break-word}
.module-stuff .eDetails{padding:5px 0 0 !important}
.gDivRight img{max-width:100%}
.calMday,.calWdaySu,.calWdaySe,.calMonth,.calWday{display:table-cell !important;width:auto !important;text-align:center !important}
.calendarsTable td{padding:12px !important}
.calTable td{text-align:center !important}
.forum-box{min-height:75vh}
.sidebox #mchatMsgF{min-height:80px}
.module-shop .shop-tabs li.postRest1{font-weight:600}
.entTd .eDetails{margin:0 0 40px !important}
#casing input[type="button"][id^="bid-"]{margin:0 0 0 5px}
.gTable select{margin:0 0 2px}
#content form[action$="search/"] table{width:100%}
#content form[action$="search/"] table td{white-space:normal !important}
#content form[action$="search/"] table td+td{width:30%}
#content .queryField{width:70% !important}
#slideshowBlock7{margin:0 0 20px}
#order-table,.ucf-table,#invoice_cont,.gDivRight{width:100%;overflow-y:auto;_overflow:auto;margin:0 0 1em}
.module-stuff .eTitle+hr{border-bottom:0}
#casing .module-stuff input[name='szw'],#casing .module-stuff input[name='szh']{width:60px !important;margin-right:3px}
#casing form#addEntForm span[id*="iCode"].added{margin:0 0 25px;overflow:hidden}
#casing form#addEntForm span[id*="iCode"].added input{margin-top:0;width:auto}
#casing .module-stuff input[name='szh']{margin-left:3px}
.uForm{padding:20px 0}
#casing .sidebox .recaptcha-wrapper{float:left;margin:5px 0 5px -3px;-webkit-box-shadow:-1px -1px 4px 0 rgba(0,0,0,0.08)}
#casing .forum-box select{margin:0 0 1px}
form#uf-register .uf-text[type="password"]{width:85%;padding-left:5px;padding-right:5px}
#order-table>table{border-spacing:0;margin-bottom:20px}
#casing #order-table .order-item td{border-bottom:1px solid #ddd;min-height:50px;height:55px;border-spacing:0}
#order-table table td{padding:10px 0}
#casing #order-table .order-head th{border-bottom:2px solid #ddd;font-size:13px;font-weight:700;line-height:25px}
#cont-shop-checkout .order-item-sum{padding:0 4px}
.module-shop #cont-shop-checkout h2{font-size:22px;font-weight:400;padding:15px 0 5px}
.module-shop #total-sum td{padding:5px 20px 10px 10px;border:1px solid #ddd;border-left:#ddd 4px solid;border-radius:3px}
.module-photo #files:hover+.fakefile input{background:#5fae26}
#MCaddFrm select#mchatRSel{padding:9px 30px 9px 10px}
#casing #forum_filter #filter_by{margin:6px 3px 6px 0}
.module-gb .cDetails{font-size:13px;font-weight:700}
.archiveCalendars .calendarsTable .calTable td{display:table-cell !important;width:auto !important}
.arrow-menu-icon{font-size:16px;position:absolute;top:2px}
li.uWithSubmenu.item-parent ul li.uWithSubmenu.item-parent i{display:none}
.sidebox #uidLogForm .loginButton{margin:5px 0}
.sidebox .ut-menu.ut-vmenu li a:before{content:none}
.sidebox .ut-menu.ut-vmenu li.item-parent em{left:-20px;top:2px}
.sidebox li.item-parent.over>ul,.sidebox li.parent-li.over>ul{display:block}
.module-shop hr{border-bottom:0}
.module-shop hr.filter_table{border-bottom:1px solid #ddd}
.module-shop h2{padding-bottom:15px}
.module-shop span.label{padding:15px 0 5px 0}
.uComForm-inner li.ucf-options{margin-right:40px !important}
.u-combolist>div *{vertical-align:middle;margin:5px 2px}
.codeButtons,.ucf-bb .codeButtons{margin:0 3px 3px 0 !important}
.module-shop .methods-list .fw{max-width:100%}
#uEntriesList .photo-title{text-align:center;overflow:hidden;white-space:normal}
#shop-price-list .gTableTop{padding:0 8px 20px}
.notcolumn hr,.manTdSep hr{padding:0}
.module-index .manTdSep hr{margin:0}
.x-scroll{overflow-x:auto}
@media only screen and (max-width:1200px){.wrapper{width:100%;padding:0 20px}
.promo-wrapper{width:100%}
.site-n,.site-n a{font-size:26px}
#catmenu{padding:5px 0 0}
.fil_togg_wrapper+hr+table td:nth-child(-n+2){width:100% !important}
.fil_togg_wrapper+hr+table td:nth-child(even){text-align:left !important}
}
@media only screen and (max-width:959px){#header .wrapper{padding:0}
#header{padding:15px 0 0;border-bottom:0}
#header .wrapper{width:100%}
#site-logo{float:none;max-width:none;text-align:center;padding:0 0 20px}
#catmenu.nav-mobi .nav-head{display:block;min-height:65px}
#promo{padding:10px 0 0;background:transparent}
.promo-i{height:250px;line-height:250px;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}
#catmenu.nav-mobi #uNMenuDiv1>ul{border-bottom:10px solid #1a1b1d}
.nav-head.over{border-bottom:2px solid #5fae26}
.promo-ttl{font-size:24px}
.promo-ds{font-size:18px}
.promo-sds{font-size:13px}
#content,#sidebar{float:none;width:auto}
#content{padding:20px 0}
.eBlock,.goods-list .list-item{margin:0 0 30px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-moz-box-shadow:0 1px 3px 0 #ddd;-webkit-box-shadow:0 1px 3px 0 #ddd;box-shadow:0 1px 3px 0 #ddd}
#sidebar{padding:0 10px}
div#casing #content section:not(.module-shop)>table:nth-child(-n+5) td{display:block;width:100%;text-align:left;padding:5px}
#casing:not(.module_shop) .catsTd{min-width:100%}
#cont-shop-invoices>table>tbody>tr>td{display:block;text-align:left}
select#user-filter{float:none}
div#cont-shop-invoices .status_table select,div#cont-shop-invoices>div:first-child form,table.filter_table td input:not(:first-child),table.filter_table td select:not(:first-child){margin-left:0 !important}
#casing{padding:15px 0}
form[name="searchform"] .gTable>tbody>tr>td.gTableBody1{display:block;height:auto !important}
.forum-box .gTableSubTop,.forum-box .forumIcoTd,.forum-box .forumThreadTd,.forum-box .forumPostTd,.forum-box .forumLastPostTd,.forum-box .threadIcoTd,.forum-box .threadPostTd,.forum-box .threadViewTd,.forum-box .threadAuthTd,.forum-box .threadLastPostTd,.forum-box .legendTable,.forum-box .fFastSearchTd,.forum-box .fFastNavTd,.forum-box .funcBlock,.forum-box .userRights,.forum-box .forumNamesBar{display:none}
#catmenu.nav-mobi ul ul a{padding-left:20px !important}
#catmenu.nav-mobi ul ul ul a{padding-left:30px !important}
#catmenu.nav-mobi ul ul ul ul a{padding-left:40px !important}
}
@media only screen and (max-width:768px){#site-logo{float:none;max-width:none;text-align:center;padding:0 0 20px}
.site-n,.site-n a{font-size:22px}
#catmenu.nav-mobi .nav-head{display:block;font-size:18px}
.promo-i{height:250px;line-height:250px;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}
.promo-ttl{font-size:16px}
.promo-ds{font-size:14px}
.promo-sds{font-size:11px}
#content,#sidebar{float:none;width:auto}
#content{padding:20px 0}
.eBlock,.goods-list .list-item{margin:0 0 30px;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;-moz-box-shadow:0 1px 3px 0 #ddd;-webkit-box-shadow:0 1px 3px 0 #ddd;box-shadow:0 1px 3px 0 #ddd}
.eTitle,.eBlock .eTitle,.eBlock td.eTitle{font-size:20px}
.e-reads,.e-loads,.e-author,.e-date,.e-rating,.e-add,.e-tags{padding:0 5px 0 0}
.e-reads:after,.e-loads:after,.e-author:after,.e-date:after,.e-rating:after,.e-add:after,.e-tags:after{padding:0 0 0 5px}
.e-category+span+span:before{padding:0 5px}
#sidebar{padding:0 10px}
.foot-l,.foot-r{float:none;width:auto;text-align:center}
.foot-r{padding:10px 0 0}
#uNetRegF tr td:first-child{max-width:20% !important;white-space:normal !important}
#uNetRegF #fAvatar,#uNetRegF #fAvatarU{display:block;margin:0 0 3px}
#uNetRegF #fAvatarU+input{position:relative;margin:0 0 0 -10px}
#uNetRegF input,#uNetRegF select,#uNetRegF input[type='file']{max-width:162px}
#fTerms~div{padding:10px 0 0}
.calendarsTable,.calendarsTable>tbody,.calendarsTable>tbody>tr,.calendarsTable>tbody>tr>td{display:block;width:100%}
#content .calTable{width:100%;margin:0 0 20px}
#content .calMonth{text-align:center}
.forum-box .gTableSubTop,.forum-box .forumIcoTd,.forum-box .forumThreadTd,.forum-box .forumPostTd,.forum-box .forumLastPostTd,.forum-box .threadIcoTd,.forum-box .threadPostTd,.forum-box .threadViewTd,.forum-box .threadAuthTd,.forum-box .threadLastPostTd,.forum-box .legendTable,.forum-box .fFastSearchTd,.forum-box .fFastNavTd,.forum-box .funcBlock,.forum-box .userRights,.forum-box .forumNamesBar{display:none}
.forum-box .gTableTop{padding:10px}
.forum-box .gTable td.forumNameTd,.forum-box .gTable td.threadNametd,.forum-box .postTable,.forum-box .postTable tbody,.forum-box .postTable tr,.forum-box .postTable td{display:block;width:auto !important}
.forum-box td.postBottom,.forum-box td.postTdInfo{display:none}
.forum-box .postTdTop{text-align:left;font-size:9px;position:relative;margin:0 0 -6px;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}
.forum-box .postTdTop:first-child{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0}
.forum-box .postTdTop+.postTdTop{margin:5px 0 2px}
.forum-box .postTdTop+.postTdTop:before{content:'';width:0;height:0;border-top:7px solid #ddd;border-left:10px solid transparent;border-right:10px solid transparent;position:absolute;top:auto;bottom:-7px;left:40px}
.fNavLink{line-height:25px;position:relative}
.postUser{font-size:14px}
#frM53 .gTableLeft,#frM53 .gTableRight{display:block;width:auto !important}
.uTd .user_avatar img{width:40px}
.opt_vals td{display:table-cell !important}
.opt_items{max-width:97%}
#puzadpn{display:none}
#uEntriesList .uEntryWrap{width:50% !important}
#content>section:nth-child(1)>table:nth-child(3)>tbody:nth-child(1)>tr:nth-child(1)>td:nth-child(2){display:block}
.module-shop .goods-list td[width='150']+td,.module-shop td.shop-itempage-images+td{padding:0}
#content form#addEntForm .iPhotoPrev{position:relative;left:2px;text-align:left}
.opt_vals td{display:table-cell !important}
.smiles tr{display:inline-block}
.module-search form td[nowrap='nowrap']{display:block}
#main-content form[action$="search/"] table td+td{width:100%}
.uf-fields-wrap .recaptcha-wrapper{margin:10px auto}
.site-n,.site-n a{font-size:26px}
.promo-ttl{font-size:20px}
.promo-ds{font-size:16px}
.promo-sds{font-size:12px}
.eTitle,.eBlock .eTitle,.eBlock td.eTitle{font-size:26px}
#casing form#uf-register input[id="policy"],#casing form#uf-register .uf-radio,#casing form#uf-register .uf-checkbox{padding:0}
#content form[action$="search/"] table td+td{width:100%}
.uf-fields-wrap .recaptcha-wrapper{margin:10px auto}
}
@media only screen and (max-width:640px){.wrapper{padding:0 15px}
td.shop-itempage-images{width:inherit !important;display:block;text-align:center;padding:0 10px}
td.shop-itempage-images+td table td{display:block;width:100%;text-align:left}
.goods-list.shop-itempage-buy-btns{float:none !important;padding:20px 0}
.goods-list.shop-itempage-buy-btns div{display:inline-block;margin-left:7px;vertical-align:middle}
#casing .module-shop .u-star-rating-32{margin:0 auto}
#casing ul.form-fields>li:nth-of-type(1n):not(.notcolumn),#casing form ul.xPhtBlock>li:nth-of-type(1n):not(.notcolumn){width:100%;padding:5px 0 0}
td.u-comboeditcell input[id^="catSelector"].x-selectable,#addPhtFrm #uCatsMenu7,#casing form #uCatsMenu7{min-width:280px;max-width:280px}
.catalog td.catalog-item{display:block !important;width:100% !important;overflow:hidden !important}
td.gTableTop #subscribe{float:none}
.popupbody>div>div:not(.udtb){float:none !important}
.module-shop .goods-list td[width='150']+td,.module-shop td.shop-itempage-images+td{padding:0 10px}
form[name="searchform"] input[name="kw"]{width:290px}
#casing form .navTabs>*{display:block;width:100%}
#casing form .navTabs>b{color:#3c3c3c;border-radius:0}
.module-stuff form#addEntForm span[id*="iCode"].openednow{padding-right:10px}
}
@media only screen and (max-width:480px){form[name="mform"] td:not([align="center"]),form[name="mform"] table td:first-child:not([align="center"]){display:block;text-align:left;width:100%;padding-left:0;padding-right:0}
#uEntriesList .uEntryWrap{width:100% !important}
div#casing #content .module-shop .goods-list .list-item>table>tbody>tr>td,table.eBlock td{display:block;width:100%;padding:5px 0;text-align:left}
.shop-imgs.with-clear,div#casing #content .module-shop .goods-list .list-item>table>tbody>tr>td:first-child{text-align:center}
div#casing form#addEntForm span[id*="iCode"].openednow{padding-right:10px}
#casing form#addEntForm span[id*="iCode"].added input[type="text"]{width:100%}
#content .module-shop .shop-tabs li{float:none}
#content .module-shop .shop-tabs{height:auto}
table.catsTable td,#goodsform .manTable>tbody>tr>td{display:block;width:100% !important}
.manTable tbody#tb_undisc tr>td,.manTable tbody#tb_exclude_from_yml tr>td,.manTable tbody#yml_is_adult tr>td,.manTable tbody#yml_is_delivery tr>td,.manTable tbody#yml_is_pickup tr>td,.manTable tbody#yml_is_store tr>td{display:inline-block;width:auto !important;vertical-align:bottom}
.gTableBody,.gTableBody1,.gTableBottom,.gTableError,.forumNameTd,.forumLastPostTd,.threadNametd,.threadAuthTd,.threadLastPostTd,.threadsType,.postPoll,.newThreadBlock,.newPollBlock,.newThreadBlock,.newPollBlock,.gTableRight,.postTdInfo,.codeMessage,.quoteMessage,.forumIcoTd,.forumThreadTd,.forumPostTd,.gTableLeft,.threadIcoTd,.threadPostTd,.threadViewTd,.postBottom{padding:10px 0 !important}
.forum-box .frmBtns a{display:block;padding:4px 0}
.module-stuff table tr td[width='180'] img{width:100%}
table.shop_spec td,table.shop_spec td .item-action{display:block;text-align:left}
.spec-values,.shop_spec_sub,.shop_spec_val{padding:0 !important}
.social-accounts{white-space:nowrap;float:left}
.udtb{overflow:hidden}
#addEntForm .manTable td,#addEntForm .commTd1,#addEntForm .commTd2,form#addEntForm>table>tbody>tr:first-child>td:first-child{display:block;width:100%}
#casing .emptyPlaceholder{width:100%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);margin:0}
.module-shop .shop-tabs li{border-top:0;border-right:0}
.module-shop .shop-tabs{border-left:0}
#catmenu.nav-mobi .nav-head{padding:12px 20px;min-height:50px}
.module-index .manTable td{display:block;width:100%}
}
@media only screen and (max-width:360px){.wrapper{padding:0 10px}
.recaptcha-wrapper [id^="recaptcha_"]{transform:scale(0.88)}
.recaptcha-wrapper{max-width:290px}
label#uf-terms-label{font-size:12px}
.promo-txt{padding:5px 0 0}
.promo-caption{top:10px;left:15px}
.promo-frame{height:125px}
.eDetails,.eDetails1,.eDetails2,.eBlock td.eDetails,.eBlock td.eDetails1,.eBlock td.eDetails2{padding:10px 0 !important}
#casing select{max-width:240px}
#casing input[type='file'],select[name='modopt']{width:80%;overflow:hidden;vertical-align:middle}
form[name="searchform"] input[name="kw"]{width:260px}
div#cont-shop-invoices .fil_togg_wrapper{margin-bottom:10px}
#casing .forum-box select,#casing .forum-box #forum_filter input{margin:0 0 5px}
}
